main {
    height: 100vh;
}

.formLogin {
    height: 350px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.formAlta {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.errores {
    display: none;
    color: red;
    background-color: gray;
    border: 1px solid black;
}